{% extends "layout.html" %}
{% block title %}Edit Product{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/user_edit.css') }}">

<div class="page-header">
    <h3 class="page-title">Edit Product</h3>
</div>

<form action="{{ url_for('product_bp.product_edit', product_id=product.id) }}" method="post" class="user-form">
    <label>Product Name
        <input type="text" name="name" value="{{ product.name }}" required>
    </label>

    <label>Description
        <input type="text" name="description" value="{{ product.description }}">
    </label>

    <label>Price
        <input type="text" name="price" value="{{ product.price }}" required>
    </label>

    <label>Image URL
        <input type="text" name="image_url" value="{{ product.image_url }}">
    </label>

    <label>Quantity
        <input type="number" name="quantity" value="{{ product.quantity }}" min="0">
    </label>

    <button class="btn-primary" type="submit">Update Product</button>
</form>
{% endblock %}
